@model IEnumerable<EventApplication.Models.Event>

<div class="image-box">
    <div class="eventSearch">
        <h2 id="lEv">Last Minute Events!</h2>
        <div id="eventSearch-body">
            @if (Model.Count() == 0)
            {
                <h2>Sorry, no events were found!</h2>
            }
            else
            {
                foreach (var item in Model)
                {
                    <ul>
                        <li>Title: @Html.ActionLink(item.Title, "Details", "Events", new { id = item.EventId }, null)</li>
                        <li>Start Date: @item.StartDate</li>
                        <li>Start Date: @item.EndDate</li>
                        <li>City: @item.City</li>
                        <li>State: @item.State</li>
                        <li>Tickets:@item.AvailableTickets"</li>
                    </ul>

                }
            }
        </div>
    </div>


